# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env

# Django
db.sqlite3
/media/
*.log

# Virtual environment
venv/
env/

# Docker
*.pid
*.log
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db